name: Test and Build Java Mono-Repo and upload coverage
on:
  workflow_call:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Java with Gradle
      uses: interact-io/github-actions/actions/setup-java-gradle@master
      with:
        submodules: 'true'
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: Run Spotless check
      run: ./gradlew spotlessJavaCheck
    - name: Build Java App
      run: ./gradlew test build shadowJar
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Upload test results to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        report_type: test_results
